@model IEnumerable<FoodTruck.Models.Food>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.applicant)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.location)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.start24)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.end24)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.dayorder)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
<tr>
	<td>
		@Html.DisplayFor(modelItem => item.applicant)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.location)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.start24)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.end24)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.dayorder)
	</td>

</tr>
}

</table>
